# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.vs

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.iml
.idea
src/Assets/New Folder/Handgun_dxf.dxf
src/Assets/guns/lspd0hs0dxc0-AK-74.rar
src/Assets/guns/r3a97lnt7vgg-Stool/Stool/OBJ.obj
src/Assets/guns/r3a97lnt7vgg-Stool/Stool/OBJ.mtl
src/Assets/guns/r3a97lnt7vgg-Stool/Stool/C4D.c4d
src/Assets/guns/r3a97lnt7vgg-Stool/Stool/stool.lib4d
src/Assets/guns/r3a97lnt7vgg-Stool/Stool/3DS.3ds
src/Assets/guns/r3a97lnt7vgg-Stool/Stool/2.png
src/Assets/guns/r3a97lnt7vgg-Stool/Stool/1.png
src/Assets/guns/r3a97lnt7vgg-Stool/Stool/1-fine-wood-seamless.jpg
src/Assets/guns/r3a97lnt7vgg-Stool.rar
